@import url(https://fonts.googleapis.com/css?family=Bebas+Neue|Oswald);

html{
	background-color: #d3d4d3;
}
body {
  font-family: "Oswald", sans-serif;
  background:linear-gradient(to top, #d3d4d3 5%, #bbb9b9 100%);
}
title{
	color: white;
}
.myButton {
	background-color:#44c767;
	border-radius:22px;
	border:3px solid #18ab29;
	display:right;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	padding:10px 38px;
	text-decoration:none;
}
.myButton:hover {
	background-color:#db1f2f;
}
.myButton:active {
	position:relative;
	top:1px;
}
.links {
	box-shadow:inset 0px 1px 0px 0px #2c2c2b;
	background:linear-gradient(to bottom, #7b7e7a 5%, #3b3d3a 100%);
	background-color:#717470;
	border:1px solid #1d1f1c;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
    text-decoration:none;
    float: right;
}
.links:hover {
	background:linear-gradient(to bottom, #4b89a5 5%, #74ad5a 100%);
	background-color:#68a54b;
}
.links:active {
	position:relative;
	top:1px;
}

